@media screen and (min-width: 480px){
 
    .md-2-3{
     flex-basis: calc(100%/3*2);
    }

    .md-1-2{
        flex-basis: 50%;
    }
 
    .md-1-3{
     flex-basis: 31%;
    }

    .utente{
        flex-direction: row;
    }

    .purple h1{
        font-size: 3rem;
    }

    .utente{
        text-align: left;
    }

    .utente img{
        width: 30%;
        margin-right: 5%;
    }

    .relative img{
        width: 100%;
    }

    .fa-quote-left{
        font-size: 250%;
    }

}

@media screen and (min-width: 920px){

    .lg-2-3{
        flex-basis: 66%;
    }

    .lg-1-3{
        flex-basis: 33%;
    }

    .lg-1-2{
        flex-basis: 50%;
    }

   .container{
    max-width: 920px;
   }

   .nav-icons a{
    display: block;
   }

   .nav-icons button{
    display: block;
   }

   .large{
    flex-direction: row;
   }

   .fa-bars{
    display: none;
   }

   .large p{
    width: 50%;
   }

   .large img{
    position: absolute;
    bottom: 0;
    left: 310px;
    height: 70%;
   }

   .plan{
    align-items: flex-end;
   }

   .planning img{
    width: 70%;
   }
}