*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

:root{
    --color-primary: rgb(0, 102, 255);
    --color-secondary: #99ccff;
    --color-terziary: #9966ff;
    --color-background: white
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-primary);
}

main{
    margin-top: 100px;
}

footer{
    background-color: black;
}

.nav-container{
    max-width: 920px;
    margin: auto;
    padding: .5rem 1rem;
}

.container{
    width: 100%;
    margin: 40px auto;
}

.nav-con{
    display: flex;
    justify-content: space-between;
}

.fa-bars{
    color: var(--color-background);
}

.nav-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icons a{
    margin: 0 .5rem;
    color: var(--color-background);
    text-decoration: none;
    display: none;
}

.nav-icons button{
    background-color: var(--color-background);
    border: none;
    border-radius: 10px;
    padding: .5rem;
    margin: 0 1rem;
    display: none;
}

.nav-row{
    display: flex;
    align-items: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    flex-basis: 100%;
}

.card{
    border-radius: 100px;
    padding: 20px;
    width: 100%;
    height: 20px;
}

.blue{
    background-color: var(--color-secondary);
}

.white{
    background-color: var(--color-background);
}

.purple{
    background-color: var(--color-terziary);
}

.large{
    display: flex;
    flex-direction: column;
}


.utente{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.free{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p{
    color: var(--color-background);
}

