*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

:root{
    --color-primary: rgb(0, 102, 255);
    --color-secondary: #99ccff;
    --color-terziary: #9966ff;
    --color-background: white
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-primary);
    padding: 20px;
}

main{
    margin-top: 60px;
}

footer{
    background-color: black;
}

.container{
    width: 100%;
    margin: auto;
    padding: 40px 0;
}

.nav-con{
    display: flex;
    justify-content: space-between;
}

.fa-bars{
    color: var(--color-background);
}

.nav-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icons a{
    margin: 0 5px;
    color: var(--color-background);
    text-decoration: none;
    display: none;
}

.nav-icons button{
    background-color: var(--color-background);
    border: none;
    border-radius: 10px;
    padding: 1rem;
    margin: 0 1rem;
    display: none;
}

.nav-row{
    display: flex;
    align-items: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.card{
    background-color: var(--color-secondary);
    border-radius: 100px;
    padding: 20px;
    flex-basis:100%;
    margin: 5px
}

.large{
    display: flex;
    flex-direction: column;
}

.background-purple{
    background-color: var(--color-terziary);
}

.card-purple{
    background-color: var(--color-terziary);
    flex-basis: 100%;
    padding: 20px;
}

.card-white{
    flex-basis: 100%;
    padding: 20px;
}

.card-white p{
    color: black;
}

.card-white h3{
    color: black;
    font-style: italic;
}

.card-white img{
    display: block;
    background-color: var(--color-background);
}

.card-utente{
    background-color: var(--color-terziary);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.card-benefits{
    background-color: var(--color-background);
    border-radius: 100px;
    flex-basis: 100%;
    margin: 1rem ;
}

.card-testo{
    flex-basis: 100%;
}

.card-imgtesto{
    flex-basis: 100%;
}

.free{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p{
    color: var(--color-background);
}

